body{
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    scroll-behavior: smooth !important;
    .upper-bar{
        position: fixed;
        display: flex;
        justify-content: center;
        align-items: center;
        width: 65vw;
        height: 8vh;
        transition: .5s;
        .btn-table{
            display: flex;
            justify-content: space-around;
            align-items: center;
            flex: 1;
            color: white;
            font-family: Montserrat;
            font-size: calc(16px + 0.3vh);
            
            .btn{
                cursor: pointer;
                position: relative;
                &::after{
                    content: "";
                    position: absolute;
                    bottom: -1px;
                    left: 0;
                    height: 2px;
                    width: 100%;
                    background: white;
                    margin: 0;
                    transform: scaleX(0);
                    display: inline-block;
                    transition: .3s;
                }
                &:hover::after{
                    transform: scaleX(1);
                }
            }
        }
    }
    .main{
        height: 100vh;
        width: 100%;
        background: red;
        background-size: cover;
        background-attachment: fixed;
        background-image: url("tło.png");
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        user-select: none;
        h1{
            font-family: Arial, Helvetica, sans-serif;
            color: white;
            font-size: calc(25px + 10vh);
            margin: 0;
        }
        p{
            margin: 0;
            font-size: calc(15px + 2vh);
            font-family: Montserrat;
            letter-spacing: 5px;
            color: white;
            text-decoration: underline;
            text-underline-offset: 10px;
        }
    }
    .Produkty, .Szkolenia{
        height: 100vh;
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        font-family: Montserrat;
        h1{
            font-size: 60px;
            margin: 0;
        }
        p{
            margin: 0;
        }
    }
    .Szkolenia{
        background: black;
        color: white;
    }
}

//Klasy pomocnicze
.scrolled{
    background: rgba($color: #3498db, $alpha: .8);
}