body{
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    scroll-behavior: smooth !important;
    user-select: none;
    .main{
        height: 100vh;
        position: relative;
        width: 100%;
        background: red;
        background-size: cover;
        background-attachment: fixed;
        background-image: url("tło.png");
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        user-select: none;
        .scroll-up{
            display: flex;
            justify-content: center;
            align-items: center;
            color: white;
            position: fixed;
            cursor: pointer;
            border: 3px solid white;
            top: 5%;
            height: 6vh;
            width: 6vh;
            border-radius: 50%;
            transition: .3s;
            &:hover{
                background: white;
                color: black;
            }
        }
        .upper-bar{
            position: absolute;
            top: 0;
            display: flex;
            z-index: 99;
            justify-content: center;
            align-items: center;
            border-radius: 25px;
            width: 65vw;
            height: 8vh;
            transition: .5s;
            .btn-table{
                display: flex;
                justify-content: space-around;
                align-items: center;
                flex: 1;
                color: white;
                font-family: Montserrat;
                font-size: calc(16px + 0.3vh);
                
                .btn{
                    cursor: pointer;
                    position: relative;
                    &::after{
                        content: "";
                        position: absolute;
                        bottom: -1px;
                        left: 0;
                        height: 2px;
                        width: 100%;
                        background: white;
                        margin: 0;
                        transform: scaleX(0);
                        display: inline-block;
                        transition: .3s;
                        border-radius: 15px;
                    }
                    &:hover::after{
                        transform: scaleX(1);
                    }
                }
            }
        }
        h1{
            font-family: Arial, Helvetica, sans-serif;
            color: white;
            font-size: calc(25px + 10vh);
            margin: 0;
        }
        p{
            margin: 0;
            font-size: calc(15px + 2vh);
            font-family: Montserrat;
            letter-spacing: 5px;
            color: white;
            text-decoration: underline;
            text-underline-offset: 10px;
        }
        .scroll-btn{       
            display: flex; 
            justify-content: center;
            align-items: center;
            width: calc(10px + 2vw); 
            height: calc(10px + 2vw);
            border-radius: 50%;
            position: absolute;
            bottom: 20%;
            border: white solid 2px;
            color: white;
            transition: .4s;
            cursor: pointer;
            &:hover{
                background: white;
            }
        }
    }
    .section{
        height: 100vh;
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        font-family: Montserrat;
        h1{
            font-size: 60px;
            margin: 0;
        }
        p{
            margin: 0;
        }
    }
    .Szkolenia, .O_nas, .Content{
        background: black;
        color: white;
    }
    .Szkolenia{
        background-image: url("tło2.png");
        background-attachment: fixed;
        background-size: contain;
        background-repeat: no-repeat;
        display: flex;
        align-items: center;
        justify-content: flex-end;
        flex-direction: row;
        .sidebar{
            height: 100%;
            width: 40%;
            background-image: url("sidebar_bg-v2.png"); 
            background-size: cover;
            display: flex;
            justify-content: flex-start;
            align-items: center;
            flex-direction: column;
            border: 2px 0 white solid;
            box-shadow: inset 0px 0px 15px 0px  #042b49;
            padding: 0 3%;
            h1{
                display: flex;
                justify-content: center;
                align-items: center;
                font-family: Montserrat;
                font-size: calc(16px + 1vw);
                height: 20%;
            }
            .zakres{
                //background: red;
                height: 60%;
                p{
                    margin: 1% 0 1% 0;
                    font-size: calc(18px + 3%);
                }
            }
            .oferty{
                width: 100%;
                height: 20%;
                display: flex;
                justify-content: center;
                align-items: center;
                .offer-btn{
                    border: white 2px solid;
                    width: 20%;
                    border-radius: 25px;
                    transition: .3s;
                    padding: 3%;
                    &:hover{
                        cursor: pointer;
                        background: white;
                        color: black;
                    }
                }
            }
        }
        }
    }

//Klasy pomocnicze
.unscrolled{
    visibility: hidden;
    opacity: 0;
}
.scrolled{
    opacity: 1;
}