

body{
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    scroll-behavior: smooth !important;
    user-select: none;
    .main{
        height: 100vh;
        position: relative;
        width: 100%;
        background: red;
        background-size: cover;
        background-attachment: fixed;
        background-image: url("tło.png");
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        user-select: none;
        .scroll-up{
            display: flex;
            justify-content: center;
            align-items: center;
            color: white;
            position: fixed;
            cursor: pointer;
            border: 3px solid white;
            top: 5%;
            height: 6vh;
            width: 6vh;
            border-radius: 50%;
            transition: .3s;
            &:hover{
                background: white;
                color: black;
            }
        }
        .upper-bar{
            position: absolute;
            top: 0;
            display: flex;
            z-index: 99;
            justify-content: center;
            align-items: center;
            border-radius: 25px;
            width: 65vw;
            height: 8vh;
            transition: .5s;
            .btn-table{
                display: flex;
                justify-content: space-around;
                align-items: center;
                flex: 1;
                color: white;
                font-family: Montserrat;
                font-size: calc(16px + 0.3vh);
                
                .btn{
                    cursor: pointer;
                    position: relative;
                    &::after{
                        content: "";
                        position: absolute;
                        bottom: -1px;
                        left: 0;
                        height: 2px;
                        width: 100%;
                        background: white;
                        margin: 0;
                        transform: scaleX(0);
                        display: inline-block;
                        transition: .3s;
                        border-radius: 15px;
                    }
                    &:hover::after{
                        transform: scaleX(1);
                    }
                }
            }
        }
        h1{
            font-family: Arial, Helvetica, sans-serif;
            color: white;
            font-size: calc(25px + 10vh);
            margin: 0;
        }
        p{
            margin: 0;
            font-size: calc(15px + 2vh);
            font-family: Montserrat;
            letter-spacing: 5px;
            color: white;
            //text-decoration: underline;
            //text-underline-offset: 10px;
        }
        .scroll-btn{       
            display: flex; 
            justify-content: center;
            align-items: center;
            width: calc(10px + 2vw); 
            height: calc(10px + 2vw);
            border-radius: 50%;
            position: absolute;
            bottom: 20%;
            border: white solid 2px;
            color: white;
            transition: .4s;
            cursor: pointer;
            &:hover{
                background: white;
            }
        }
    }
    .section{
        height: 100vh;
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        font-family: Montserrat;
        h1{
            font-size: 60px;
            margin: 0;
        }
        p{
            margin: 0;
        }
    }
    .Szkolenia, .O_nas, .Content{
        background: black;
        color: white;
    }
    .Produkty{
        background-image: url("produkty_bg.jpg");
        background-size: cover;
        background-position: -5vw;
        display: flex;
        justify-content: flex-start;
        flex-direction: row;
        .sidebar{
            height: 100%;
            background-image: url("produkty_bg_v2.png");
            background-size: cover;
            background-position: center;
            padding: 1% 3%;
            display: flex;
            justify-content: center;
            align-items: center;
            flex-direction: column;
            h1{
                width: 100%;
                height: 10%;
                //background: red;
                font-size: calc(2vw + 1vh);
                text-align: center;
            }
            p{
                //background: yellow;
                font-size: calc(1vw + 1vh);
                //margin-bottom: 10%;
            }
            .btn{
                display: flex;
                justify-content: center;
                align-items: center;
                margin-top: 8%;
                padding: 3%;
                border-radius: 25px;
                border: solid black 2px;
                transition: .3s;
                font-size: calc(1vh + 1vw);
                &:hover{
                    cursor: pointer;
                    background: black;
                    color: white;
                }
            }
        }
    }
    .Szkolenia{
        background-image: url("tło2.png");
        background-attachment: fixed;
        background-size: contain;
        background-repeat: no-repeat;
        display: flex;
        align-items: flex-end;
        justify-content: flex-start;
        flex-direction: column;
        .sidebar{
            height: 100%;
            background-image: url("bg-sidebar.png"); 
            background-size: cover;
            display: flex;
            justify-content: space-evenly;
            align-items: center;
            flex-direction: column;
            border: 2px 0 white solid;
            box-shadow: inset 0px 0px 15px 0px  #042b49;
            padding: 1% 3%;
            h1{
                display: flex;
                justify-content: center;
                align-items: center;
                font-family: Montserrat;
                font-size: 2vw;
                padding: 0;
            }
            .zakres{
                height: 60%;
                display: flex;
                justify-content: center;
                align-items: flex-start;
                flex-direction: column;
                font-size: 1,5vw;
                p{
                    font-size: 1,5vw;
                    margin: 1vh;
                }
            }
        }
        .oferty{
            display: flex;
            justify-content: center;
            align-items: center;
            width: 100%;
            .offer-btn{
                border: white 2px solid;
                width: 20%;
                border-radius: 25px;
                transition: .3s;
                padding: 3%;
                text-align: center;
                &:hover{
                    cursor: pointer;
                    background: white;
                    color: black;
                }
            }
        }
        }
    }

//Klasy pomocnicze
.unscrolled{
    visibility: hidden;
    opacity: 0;
}
.scrolled{
    opacity: 1;
}

@media screen and (max-width: 800px){
    .sidebar{
        width: 100%;
        h1{
            font-size: 10vh;
        }
    }
}
@media screen and (min-width: 800px){
    .sidebar{
        width: 40%;
    }
}